<!DOCTYPE html>
<html>

<head>
    <title>Heart Disease Prediction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <main>
        <section class="intro">
            <h1 style="text-align: center; font-size: 3rem; color: #af4c6f;">Heart Disease Prediction</h1>
            <p style="text-align: center; font-size: 1.5rem;">Predict The Chance of Heart Disease!</p>
        </section>
        <!-- Inputs for our ML model -->
        <form action="{{ url_for('predict')}}" method="post">

            <!--Age-->
            <label for="Age">Age:</label>
            <input type="text" id="Age" name="Age" placeholder="Enter your age" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!--Gender-->
            <label for="Sex">Sex: <br>1 = Male <br> 0 = Female</label>
            <input type="text" id="Sex" name="Sex" placeholder="Enter your gender" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!--Chest Pain Type-->
            <label for="cp">Chest Pain Type: <br> 1 = typical angina <br> 2 = atypical angina
                <br> 3 = non — anginal pain <br> 4 = asymptotic </label>
            <input type="text" id="cp" name="cp" placeholder="Enter your chest pain type" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!--Resting Blood Pressure-->
            <label for="trestbps">Resting Blood Pressure:</label>
            <input type="text" id="trestbps" name="trestbps" placeholder="Enter your resting blood pressure"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!--Serum Cholesterol-->
            <label for="chol">Serum Cholesterol:</label>
            <input type="text" id="chol" name="chol" placeholder="Enter your serum cholesterol" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!--Fasting Blood Sugar-->
            <label for="fbs">Fasting Blood Sugar:</label>
            <input type="text" id="fbs" name="fbs" placeholder="Enter your fasting blood sugar" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!--Resting Electrocardiographic Results -->
            <label for="restecg">Resting Electrocardiographic Results: <br> 0 = normal <br> 1 = having ST-T wave
                abnormality <br> 2 = left ventricular hyperthrophy</label>
            <input type="text" id="restecg" name="restecg" placeholder="Enter your resting electrocardiographic results"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!-- Maximum Heart Rate Achieved -->
            <label for="thalach">Maximum Heart Rate:</label>
            <input type="text" id="thalach" name="thalach" placeholder="Enter your maximum heart rate achieved"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!--Exercise Induced Angina -->
            <label for="exang">Exercise Induced Angina: <br> 1 = yes <br> 0 = no </label>
            <input type="text" id="exang" name="exang" placeholder="Enter your exercise induced angina"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!-- ST depression induced by Exercise -->
            <label for="oldpeak">ST depression induced by Exercise:</label>
            <input type="text" id="oldpeak" name="oldpeak" placeholder="Enter your ST depression induced by exercise"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!-- The Slope of the peak exercise ST segment -->
            <label for="thal">Slope of Peak Exercise: <br> 1 = Upsloping <br> 2 = Flat <br> 3 = Downsloping</label>
            <input type="text" id="slope" name="slope" placeholder="Enter your slope of peak exercise ST segment"
                required="required" style="display:block; margin-bottom: 1rem;" />

            <!-- Number of Major Vessels -->
            <label for="ca">Number of Major Vessels (0-3) colored by Flourosopy:</label>
            <input type="text" id="ca" name="ca" placeholder="# of major vessels" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!-- Thal -->
            <label for="thal">
                Thalassemia: <br> 3 = normal
                <br> 6 = fixed defect
                <br> 7 = reversible defect</label>
            <input type="text" id="thal" name="thal" placeholder="FIGURE OUT" required="required"
                style="display:block; margin-bottom: 1rem;" />

            <!-- <button type="submit" class="btn btn-primary btn-block btn-large">Predict Value!</button> -->
            <button type="submit" class="btn btn-primary btn-block btn-large"
                style="background-color: #af4c6f; border: none; color: rgb(255, 255, 255); 
                padding: 16px 32px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px;">Predict
                Value!</button>
        </form>

        <br>
        <br>
        <b> {{ prediction_text }} </b>
        </div>
        </section>
    </main>

</body>

</html>